.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  grid-gap: 75px;
  list-style: none;
  justify-content: center;
  grid-area: list;
  margin-top: 81px;
  padding-left: 16px;
  padding-right: 16px;
}
